extends layout

block content
  h1= headline
  p Welcome to dlCal!
  p You can use the API functionality under /api/ .
  p If you're not logged in, please /api/authenticate first. We're using JSON Web Tokens.
  p If you don't have an account, you can also /api/register. Just give your username, password and email.
