extends layout

block content
  h1= headline
  p Welcome to dlCal!
  p You can use the API functionality under /api/ .
  p If you're not logged in, please /authenticate first. We're using JSON Web Tokens.
