<div align="center">
    <form ng-controller="Edit as edit" ng-show="main.isAuthed()">
        <h1>Update event with new information</h1>
        ID: <input type="text" ng-model="event._id" ng-readonly="true"><br>
        Title: <input type="text" ng-model="event.name"><br>
        Description: <input type="textarea" ng-model="event.description"><br>
        Start: <input type="datetime" ng-model="event.startTime"><br>
        Ending: <input type="datetime" ng-model="event.endTime"><br>
        Deadline: <input type="datetime" ng-model="event.deadline"><br>
        <button ng-click="edit.modifyEvent()">Update event</button><br>
    </form>

    <form ng-show="!main.isAuthed()">
        <h1>Please log in or register to use dlCal</h1>
        <input type="text" ng-model="main.username" placeholder="username"><br>
        <input type="password" ng-model="main.password" placeholder="password"><br>
        <br>

        <button ng-click="main.login()">Login</button><br><br>
        <input type="email" ng-model="main.email" placeholder="email"><br>
        <button ng-click="main.register()">Register</button><br>
    </form>
</div>